@model CinemaManagementSystem.Models.ViewsModels.MovieDetails;

<header>
    <h1>The information of the movie @Model.Movie.MovieName</h1>
    <div class="buttons">
        <a href="/MoviesPage/Edit/@Model.Movie.MovieId">Edit</a>
        <a href="/MoviesPage/ConfirmDelete/@Model.Movie.MovieId">Delete</a>
    </div>
</header>
<div class="details">
    <h2>@Model.Movie.MovieId. @Model.Movie.MovieName</h2>
    <p>Language: @Model.Movie.Language</p>
    <p>Number of Screenngs: @Model.Movie.TotalScreenings</p>
    @foreach (var Screening in Model.Screenings){
        <div class="screening">
            <h3>@Screening.ShowDate</h3>
            <p>@Screening.StartTime - @Screening.EndTime</p>
            <a href="/ScreeningsPage/Details/@Screening.ScreeningId">See Details</a>
            <a href="/ScreeningsPage/ConfirmDelete/@Screening.ScreeningId">Delete this Screening</a>
        </div>
    }
</div>
